@charset "utf-8";
/* CSS Document */

html, body, #content{
	height:100%; 
}

body{
	margin:0; 
	padding:0; 
	overflow:hidden;
}

#content{
	z-index:11;
}


#thumbnail{
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
	visibility:hidden;
}